.parent{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.child{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
}
.child:hover{
    animation: movethechild 5s;
}
@keyframes movethechild {
    20%{
        transform: translate(400px,0px);
    }
    40%{
        transform: translate(-400px,0px);
        border-radius: 25%;
        background-color: red;
    }
    60%{
        transform: translate(0px,0px);
        background-color: yellow;
    }
    80%{
        transform: translate(0px,400px);
        background-color: blue;
        border-radius: 25%;
    }
    100%{
        transform: translate(0px,-400px);
        background-color: green;
        border-radius: 25%;
    }
}